@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --first-color: #fdce5c;
  --second-color: #762804;
  --third-color: #faa240;
  --fourth-color: #fdd04f;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: var(--second-color);
}

@layer utilities {
}
.hero {
  height: calc(100vh - 80px);
}